# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Editor
.vscode/settings.local.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build outputs
dist/
build/

# Environment
.env
.env.local
.env.*.local
